.git
.gitignore
.vscode
.settings
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
*.log
db.sqlite3
.env
.env.*
!.env.example
staticfiles
media
logs
*.zip
*.tar.gz
tria_engine/apps/*/migrations/*.pyc
.mypy_cache
.pytest_cache
.coverage
htmlcov
node_modules
